/.terraform
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc    
LICENSE.txt/
terraform-provider-*.zip
.ds_store
.DS_Store
.vscode
.idea
*.iml
terraform.tfstate
terraform.tfstate.backup
.terraform/lock.hcl
crash.logc
tfplan

